.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
scripts/**
requirements.txt
# Include bundled directory in package
# The ! is a negation - it means "include this even if something else excluded it"
!bundled/**
